
<div class="text-center mt-5">
<p class="fs-5 fw-bold">会員情報入力</p>
</div>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>

<%= render 'shared/error_messages', model: f.object %>

<div class="field mb-3 w-75 mx-auto">
  <%= f.label :ニックネーム, class:"form-label" %><br />
  <%= f.text_field :nickname, autofocus: true, class:"form-control" %>
</div>

<div class="field mb-3 w-75 mx-auto">
  <%= f.label :メールアドレス, class:"form-label" %><br />
  <%= f.email_field :email, class:"form-control" %>
</div>

<div class="field mb-3 w-75 mx-auto">
  <%= f.label :パスワード, class: "form-label" %><br />
  <%= f.password_field :password, class:"form-control", placeholder:"6文字以上の半角英数字" %>
</div>

<div class="field mb-3 w-75 mx-auto">
  <%= f.label :パスワード（確認）, class: "form-label" %><br />
  <%= f.password_field :password_confirmation, class:"form-control", placeholder:"同じパスワードを入力して下さい" %>
</div>

<div class="actions mt-5 d-grid gap-2 col-6 mx-auto w-25">
  <%= f.submit "新規登録", class: "btn btn-primary" %>
</div>

<% end %>